h1 {
    text-align: center;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        display: flex;               /* Disposición en fila de los elementos hijos */
        min-height: 100vh;           /* Ocupa toda la altura de la ventana */
        gap: 20px;                   /* Espacio entre el menú y el contenido */
        padding: 20px;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 12em;
        max-width: 250px;
        border-radius: 5px;
        list-style-type: none;
        background-color: #0e3422;
        height: inherit;
    }
    
    .menu #logo {
        text-align: center;
        margin-bottom: 4em;
    }
    
    .menu>li {
        display: block;
        position: relative;
    }
    
    .menu a {
        color: white;
        font-family: "Roboto Serif", sans-serif;
        text-align: center;
        text-decoration: none;
        padding: 14px 20px;
        display: block;
    }
    
    .img {
        display: flex;
        margin-top: auto;
        justify-content: center;
    }
    
    .img {
        width: 11em;
    }
    
    /* --> Submenú */
    .submenu-der {
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        list-style-type: none;
        background-color: #28865a;
        border: 2px dashed grey;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        min-width: 12em;
        z-index: 5;
    }
    
    .submenu:hover .submenu-der {
        display: block;
    }
    
    /* Estilos para el hover */
    .menu li:hover>a,
    .submenu-der li:hover>a {
        background-color: #4C7562;
        border: 1px groove white;
        padding: 13px 19px;
    }
    
    .submenu-der li {
        display: block;
        width: 100%;
    }
    
    
    .content {
        flex: 1;                     /* Ocupa todo el espacio disponible en el centro */
        padding: 20px;
        background-color: #fafafa;
        border-radius: 5px;
    }
    
    .content h1 {
        margin-bottom: 20px;
    }
    
    .content p {
        line-height: 1.6;
        color: #333;
    }
    .contenedor {
    display: flex;
    flex-wrap: wrap; /* Permite que las cajas se envuelvan a la siguiente línea */
    gap: 10px; /* Espacio entre las cajas */
    justify-content: center; /* Centra las cajas horizontalmente */
}

.caja {
    flex: 1 1 calc(33.33% - 10px); /* Cada caja ocupa 1/3 del ancho del contenedor menos el espacio de gap */
    background-color: #0e3422;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.caja p {
    color: white;
}
.menu {
    text-align: center;
    margin-bottom: 4em;
}
